body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;

}

.whole-bod {
    margin: 0;
}

.fir-sec {
    margin: 0;
}



ul {
    display: flex;
    padding: 16px;
    margin-left: 20em;
    position: fixed;
    list-style-type: none;
    gap: 7em;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

.sec-sec {
    color: white;
    display: flex;
    gap: 6em;
    background-image: url(./img/download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 13em;
}
h1 {
    font-size: 125px;
}

h3 {
    font-size: 40px;
}

.rel-name {
    width: 60%;
    padding-top: 5em;
    margin-left: 8em;
}

.secd-sec {
    width: 30%;
    padding-top: 5em;
    margin-right: 5em;
}

.abt-me {
    margin-left: 3em;
    background-color: black;
    text-align: center;
    padding: 16px;
    border-radius: 25px;
}

.abt-me:hover {
    background-color: green;
}

.sec-abt {
    text-align: center;
    
}

h4 {
    font-size: 30px;
}

.rel-opa {
    opacity: 0.3;
}

.spon-ap {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.proj-sec {
    margin: 35px;
}


.the-mid {
    text-align: center;
}

.for-pro {
    font-size: 43px;
    margin-left: 0;
    padding: 0;
}

.the-box {
    display: flex;
    margin-left: 12em;
    gap: 3em;
    margin-bottom: 3em;
}

@media (max-width:1000px) {
    .the-box {
        display: block;
    }
}
.wha-me {
    justify-content: center;
    border: 1px solid black;
    padding: 32px;
}

.box-pix {
    width: 18%;
}

