body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.fir-sec {
    margin: 0;
}

header {
    background-color: black;
    margin: 0;
}

.nav-bar {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
}

a {
    text-decoration: none;
    color: white;
}

.nav-bar li {
    font-size: 15px;
    transition-property: font-size;
    transition-duration: 2s;
    transition-delay: 2s;
}

.nav-bar li:hover {
    font-size: 28px;
}



.sec-sec {

    background-image: url(./img/download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    gap: 10vw;
    padding-top: 150px;
    padding-left: 60px;
    padding-bottom: 120px;
    
}



.abt-me {
    background-color: black;
    padding: 16px;
    width: 20vw;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.abt-me:hover {
    background-color: green;
}

h5 {
    font-size: 40px;
}

h3 {
    font-size: 70px;
}

.parent {
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.child {
    color: rgb(35, 239, 35);
}

.the-abt {
    background-color: rgb(230, 225, 219);
}

.sec-abt {
    padding-bottom: 50px;
    padding-top: 40px;
}

.rel-opa {
    height: 10vh;
    opacity: 0.3;
    text-align: center;
}

.spon-ap {
    display: flex;
    margin-left: 8vw;
    justify-content: center;
    animation-duration: 4s;
    animation-name: slide-in;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes slide-in {
    from {
        translate: 150vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}


.proj-sec {
    padding: 30px;
}

.the-img {
    border-radius: 20px;
}

.the-img:hover {
    width: 59%;
    box-shadow: 1px 1px 2px 2px;
}


.the-mid {
    text-align: center;
}

.for-pro {
    font-size: 43px;
    margin-left: 0;
    padding: 0;
}

.the-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin-bottom: 3em;
}

.box-hed {
    font-size: 30px;
}

@media (max-width:1000px) {
    .the-box {
        display: block;
    }
}
.wha-me {
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:black;
    animation-duration: 15s;
    animation-name: change;
    animation-iteration-count: infinite;
    color: white;
    border-radius: 30px;
    box-shadow:  2px 2px 2px;
    border: 1px solid black;
    padding: 32px;
}

@keyframes change {
    0% {
        background-color: black;
    }

    20% {
        background-color: green;
        border: 1px solid green;
    }

    40% {
        background-color: red;
        border: 1px solid red;
    }

    60% {
        background-color: blue;
        border: 1px solid blue;
    }

    80% {
        background-color: yellow;
        border: 1px solid yellow;
    }

    100% {
        background-color: black;
        border: 1px solid black;
    }
}

@media (max-width:1000px) {
    .wha-me {
        margin-bottom: 40px;
    }
}

.box-pix {
    width: 18%;
}

@media (max-width:1000px)  {
    .box-pic {
        margin-bottom: 40px;
    }
}

.four-sec {
    background-color: black;
    color: white;
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}

.con-fir {
    justify-content: center;
    align-items: center;
}
.con-hed {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.con-par {
    opacity: 0.6;
}


.con-sec {
    margin-top: 50px;
}

.the-em {
    background: linear-gradient(red,blue);
    padding: 16px;
    border-radius: 13px;
    
}

.the-em:hover {
    background: radial-gradient(blue,green);
    
}

.rel-img {
    width: 337px;
    height: 327px;
    transition: 
    width 2s,
    height 2s,
    rotate 4s;
}

.rel-img:hover {
    width: 350px;
    height: 347px;
    rotate: 360deg;
}

@media (max-width:1000px) {
    .rel-img {
        width: 100%;
        height: auto;
        border-radius: 23px;
        transition: 
        width 2s,
        height 2s,
        rotate 4s;
    }
}

@media (max-width:1000px) {
    .rel-img:hover {
        width: 100%;
        height: auto;
        rotate: 380deg;
    }
}

