body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.fir-sec {
    margin: 0;
}

header {
    background-color: black;
    margin: 0;
}

.nav-bar {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
}

a {
    text-decoration: none;
    color: white;
}

.nav-bar li:hover {
    background-color: red;
}



.sec-sec {

    background-image: url(./img/download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    gap: 10vw;
    padding-top: 150px;
    padding-left: 60px;
    padding-bottom: 120px;
    
}



.abt-me {
    background-color: black;
    padding: 16px;
    width: 20vw;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.abt-me:hover {
    background-color: green;
}

h5 {
    font-size: 40px;
}

h3 {
    font-size: 70px;
}

h4 {
    font-size: 30px;
    text-align: center;
}

.the-abt {
    background-color: rgb(230, 225, 219);
}

.sec-abt {
    padding-bottom: 50px;
    padding-top: 40px;
}

.rel-opa {
    height: 10vh;
    opacity: 0.3;
    text-align: center;
}

.spon-ap {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: ;
}

.proj-sec {
    margin: 35px;
}

.the-img {
    border-radius: 20px;
}


.the-mid {
    text-align: center;
}

.for-pro {
    font-size: 43px;
    margin-left: 0;
    padding: 0;
}

.the-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin-bottom: 3em;
}

.box-hed {
    font-size: 30px;
}

@media (max-width:1000px) {
    .the-box {
        display: block;
    }
}
.wha-me {
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px;
    border: 1px solid black;
    padding: 32px;
}

.box-pix {
    width: 18%;
}

.four-sec {
    background-color: black;
    color: white;
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}

.con-fir {
    justify-content: center;
    align-items: center;
}
.con-hed {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.con-par {
    opacity: 0.6;
}


.con-sec {
    margin-top: 50px;
}

.the-em {
    background-color: green;
    padding: 16px;
    border-radius: 13px;
    
}

.the-em:hover {
    background-color: red;
    
}


